  <div id="body">
<div class="container">
<h1 class="jumbotron">Table of contents</h1>

<ul>
  <% @tomes.each do |tome| %>
    <li><a href="/tomes/<%= tome.id %>"><%= tome.description %></a></li>
    <% tome.chapters.each do |chapter| %>
      <ul>
        <li><a href="/tomes/<%= tome.id %>/chapters/<%= chapter.id %>"><%= chapter.description %></a></li>
              <ul>
                <% chapter.lessons.each do |lesson| %>
                <li><a href="/tomes/<%= tome.id %>/chapters/<%= chapter.id %>/lessons/<%= lesson.id %>"><%= lesson.description %></a></li>
                <% end %>
              </ul>
      </ul>
      <% end %>
  <% end %>
</ul>
<br>

<button type="button" class="btn btn-success"><a href="/tomes/new" >NEW TOME</a></button>

</div>
<br>
<br>
</div>
