<h1>Update Lesson for <%= @lesson.description %></h1>

  <% if @lesson.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
</ul>
  <% end %>


<form action="." method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="number">Number</label>
  <input id="number" name="number" type="text" value="<%= @lesson.number %>">

  <label for="chapter_id">Chapter ID</label>
  <input id="chapter_id" name="chapter_id" type="text" value="<%= @lesson.chapter_id %>">

  <label for="description">Description</label>
  <input id="description" name="description" type="text" value="<%= @lesson.description %>">
  <br>
  <br>
  <label for="content">Content Text</label>
  <input id="content" name="content" type="text" value="<%= @lesson.content %>">

  <button type="submit">Update Lesson</button>
</form>
