<h1><%= @lesson.description %></h1>
<p><%= @lesson.content %></p>



<p><a href='/tomes/<%= @lesson.chapter.tome.id %>/chapters/<%= @lesson.chapter_id %>/lessons/<%= @lesson.id %>/edit'>EDIT</a></p>
<p><a href='/tomes/'>HOME</a></p>
