<div class="container">

<h1 class="jumbotron"><%= @lesson.description %></h1>

<div class="content-section">
<p><%= @lesson.content %></p>
</div>

<br>
<br>


<button type="button" class="btn btn-success"><a href='/tomes/<%= @lesson.chapter.tome.id %>/chapters/<%= @lesson.chapter_id %>/lessons/<%= @lesson.id %>/edit'>EDIT</a></button>
<button type="button" class="btn btn-success"><a href="/tomes/<%= @lesson.chapter.tome.id %>/chapters/<%= @lesson.chapter_id %>/lessons/<%= @lesson.id %>/destroy"data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">DELETE</a></button>
<button type="button" class="btn btn-success"><a href="/">HOME</a></button>
</div>
