<h1>Update Chapter for <%= @chapter.description %></h1>

  <% if @chapter.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
    <% @chapter.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
</ul>
  <% end %>


<form action="/chapters/<%= @chapter.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="number">Number</label>
  <input id="number" name="number" type="text" value="<%= @chapter.number %>">

  <label for="tome_id">Tome ID</label>
  <input id="tome_id" name="tome_id" type="text" value="<%= @chapter.tome_id %>">

  <label for="description">Description</label>
  <input id="description" name="description" type="text" value="<%= @chapter.description %>">
  <br>

  <button type="submit">Update Chapter</button>
</form>
