<h1><%= @chapter.description %></h1>

<a href="/tomes/<%= @chapter.tome_id %>/chapters/<%= @chapter.id %>/lessons/new">NEW LESSON</a>

<p><a href='/tomes/<%= @chapter.tome_id %>/chapters/<%= @chapter.id %>/edit'>EDIT</a></p>
<p><a href='/tomes/'>HOME</a></p>
