<div class="container">

<h1 class="jumbotron"><%= @chapter.description %></h1>

<button type="button" class="btn btn-success"><a href="/tomes/<%= @chapter.tome_id %>/chapters/<%= @chapter.id %>/lessons/new">NEW LESSON</a></button>

<button type="button" class="btn btn-success"><a href="/tomes/<%= @chapter.tome.id %>/chapters/<%= @chapter.id %>/destroy"data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">DELETE</a></button>

<button type="button" class="btn btn-success"><a href='/tomes/<%= @chapter.tome_id %>/chapters/<%= @chapter.id %>/edit'>EDIT</a></button>
<button type="button" class="btn btn-success"><a href='/tomes/'>HOME</a></button>

</div>
